.App {
  text-align: center;
  background-color: white; 
  justify-content: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  overflow: auto;
  
}


@media (min-width: 320px) and (max-width: 1024px) {
    
    #titleHeader {
      color: blue;
      margin-bottom: 30px;
    }
}



@media (min-width: 1024px) and (max-width: 1366px) {
    .App {
      height: 100vh;
    }

}

@media (min-width: 1366px) {
  .App {
    height: 100vh;
    justify-content: space-between;
  }
}